<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h4>Send a text message:</h4>

<%= form_tag sms_path do %>
  <%= submit_tag "Send" %>
  <%= label_tag :message, "Message:" %>
  <%= text_field_tag :message %>
  <%= label_tag :phone_number, "Phone Number: +1" %>
  <%= text_field_tag :phone_number %> (enter only numbers, no spaces or symbols)
<% end %>

<br>
<%= link_to 'Log Out', session_path, method: :delete, data: { confirm: 'Are you sure?' } %>