<!DOCTYPE html>
<html>
<head>
  <title>McClane Minihack</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <marquee><%= link_to "S(wanson)MS", root_path %></marquee>
<marquee direction="down" width="500" height="500" behavior="alternate">
  <marquee behavior="alternate">
    <%= link_to "S(wanson)MS", root_path %>
  </marquee>
</marquee>
<marquee></marquee>
  <h1></h1>
  <%= yield %>

</body>
</html>